set timeout=5
set default=0

insmod all_video
insmod font
insmod gfxterm
insmod jpeg
insmod png

if loadfont /boot/grub/unicode.pf2 ; then
    set gfxmode=1024x768x32,auto
    set gfxpayload=keep
    terminal_output gfxterm
fi

if background_image -m stretch /boot/grub/decompileos2_logo.jpg ; then
    set color_normal=light-gray/black
    set color_highlight=white/blue
else
    set menu_color_normal=light-cyan/black
    set menu_color_highlight=white/blue
fi

menuentry "DeCompileOS" {
    multiboot2 /boot/kernel.bin
    boot
}

submenu "Advanced Options..." {
    menuentry "DOS Mode (Only for developers)" {
		echo "Entering DOS Mode"
		sleep 2
        multiboot2 /boot/kernel.bin dos_mode=true
        set root=(hd0,msdos1)
        set gfxpayload=keep
        boot
    }
}

submenu "Power Options..." {
    menuentry "Reboot System" {
        reboot
    }

    menuentry "Shutdown System" {
        halt
    }
}